.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
.postWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageBox {
  width: 40%;
  position: relative;
}
.imageBox img {
  width: 100%;
  height: 100%;
}

.secondImg {
  position: relative;
  bottom: 127px;
  right: 37px;
  width: 40% !important;
  height: 30% !important;
}
